<div class="navigation">
    <div class="mappanel">
        <div class="navgooglemapframe">
            <div id="map"></div>
        </div>
        <form id="frm-parkingmap-buttonpanel1" action="/parkingMapRoutesButtonPanel" method="POST">
            <input id="bay" name="Bay" type="hidden"  value=<%= bay %> >
            <input id="slat" name="Slat" type="hidden"  value=<%= slat %> >
            <input id="slon" name="Slon" type="hidden"  value=<%= slon %> >
            <input id="username" name="Username" type="hidden" value=<%= username %>>
            <div class="navbuttonpanel">
                <button id="btn-viewme" class="waves-effect waves-light btn center" name="Viewme" value="viewme" type="button">Recenter Your Location</button>
                <button id="btn-backdash" class="waves-effect waves-light btn center" name="Dashboard" value="dashboard" type="submit" >Dashboard</button>
            </div>
        </form>
    </div>
    <div class="midpanel">
        <div class="navlistpanel">           
            <p class="listtitle">Directions for Parking</p>
            <div id="navigate_data" class="navinfopanel">

            </div>
        </div>
        <div class="navinfopanel">
            <form id="frm-parkingmap-buttonpanel1" action="/notify" method="POST">
                <div class="navinfo">                    
                    <div class="input-field col s12">
                        <input id="mobile" type="tel" class="form-control" maxlength="10" name="Mobile" required placeholder="Mobile No:(04XXXXXXXX)" 
                        oninvalid="this.setCustomValidity('Please use 04XXXXXXXX format')" oninput="this.setCustomValidity('')" pattern="^04[0-9]{8}$" value=<%= mobileno %>>
                    </div>  
                    <div class="input-field col s12">
                        <input id="time" type="text" class="form-control bs-timepicker" name="Time" required placeholder="Enter Time" pattern="^((?!(0:00)|(00:00)$)0?[0-2][0-9]:[0-5][0-9])$" 
                        onclick="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Time has to be atleast one minute')"  value=<%= timer %>>
                    </div>  
                </div>
                <input id="history_bay" name="Bay" type="hidden"  value=<%= bay %> >
                <input id="history_slat" name="Slat" type="hidden"  value=<%= slat %> >
                <input id="history_slon" name="Slon" type="hidden"  value=<%= slon %> >
                <input id="history_username" name="Username" type="hidden" value=<%= username %>>
                <input id="save-history" name="SaveHistory" type="checkbox" checked>
                <label id="lbl-save-history" for="save-history">Save Parking Information</label>
                <button id="btn-notify" class="waves-effect waves-light btn center"  name="Notify" value="notify" type="submit">Notify Me</button>
            </form>
            
        </div>         
      
    </div>
</div>
