<!DOCTYPE HTML>
<html lang="en">

<head>
  <%- include("partials/head",title) %>  
</head>
<body>
  <header>
    <%- include ("partials/header",loggedIn,signIn) %>
  </header>
  <div class="loggeduser">&nbsp;&nbsp;Welcome&nbsp;<%= username %></div>
  <main>
        <%- include ("partials/parkingMap",username) %>
  </main>

  <footer>
    <%- include ("partials/footer") %>
  </footer>
  <!-- Compiled and minified JavaScript -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
    <script src="env.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrjMOa0vDaQWFf3MkA5K-Ttr6S3lCAGp8&callback=initMap"></script>
</body>

</html>