<!DOCTYPE HTML>
<html lang="en">

<head>
  <%- include("partials/head",title) %>
</head>
<body>
  <header>
    <%- include ("partials/header",loggedIn,signIn) %>
  </header>
  <div class="loggeduser">&nbsp;&nbsp;Welcome&nbsp;<%= username %></div>
  <main>
      <div class="row">        
        <%- include ("partials/dashboard") %>
      </div>
  </main>

  <footer>
    <%- include ("partials/footer") %>
  </footer>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>